header {
  max-width: 100vw;
  height: 100vh;
  position: relative;
  top: 0;
  background: linear-gradient(#012734, #000e17);
  overflow: hidden;
}
@media screen and (max-width: 1024px) {
  header {
    height: -moz-fit-content;
    height: fit-content;
    padding: 14rem 0 12rem;
    display: grid;
    place-items: center;
  }
}
@media screen and (max-width: 640px) {
  header {
    padding: 0;
    padding-bottom: 6rem;
  }
}

.header__container.container {
  margin-top: 5rem;
}
@media screen and (max-width: 1024px) {
  .header__container.container {
    grid-template-columns: 40% 54%;
    gap: 6%;
    margin: 0;
  }
}
@media screen and (max-width: 640px) {
  .header__container.container {
    grid-template-columns: 1fr;
    gap: 1%;
    text-align: center;
  }
}

.header__container {
  display: grid;
  grid-template-columns: 42% 52%;
  gap: 6%;
  position: relative;
}
.header__container .header__img-bg {
  background: #003347;
  height: 22rem;
  width: 16rem;
  position: absolute;
}
@media screen and (max-width: 1024px) {
  .header__container .header__img-bg {
    display: none;
  }
}
.header__container .header__img-bg-lg {
  width: 29rem;
  position: relative;
  top: 1rem;
  left: 1rem;
  filter: saturate(0) brightness(0.3);
  -webkit-filter: saturate(0) brightness(0.3);
  transition: all 400ms ease;
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  -o-transition: all 400ms ease;
}
@media screen and (max-width: 1024px) {
  .header__container .header__img-bg-lg {
    filter: saturate(1) brightness(1);
    -webkit-filter: saturate(1) brightness(1);
    left: 0;
    top: 0;
    width: 100%;
  }
}
@media screen and (max-width: 640px) {
  .header__container .header__img-bg-lg {
    width: 80%;
    height: 20rem;
    margin: 0 auto;
    margin-top: 7rem;
    overflow: hidden;
    border-radius: 15rem 15rem 0 0;
    -webkit-border-radius: 15rem 15rem 0 0;
    -moz-border-radius: 15rem 15rem 0 0;
    -ms-border-radius: 15rem 15rem 0 0;
    -o-border-radius: 15rem 15rem 0 0;
  }
}
.header__container .header__img-bg-sm {
  width: 25rem;
  height: 25rem;
  overflow: hidden;
  position: absolute;
  left: 4rem;
  top: 4rem;
  transition: all 400ms ease;
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  -o-transition: all 400ms ease;
}
@media screen and (max-width: 1024px) {
  .header__container .header__img-bg-sm {
    display: none;
  }
}
.header__container .left:hover .header__img-bg-sm {
  opacity: 0;
}
.header__container .left:hover .header__img-bg-lg {
  filter: saturate(1) brightness(1);
  -webkit-filter: saturate(1) brightness(1);
  border: 1rem solid #012734;
  top: 0;
  left: 0;
}
.header__container .right .header__head {
  display: flex;
  gap: 2rem;
  align-items: flex-start;
}
@media screen and (max-width: 640px) {
  .header__container .right .header__head {
    justify-content: center;
  }
}
.header__container .right .empty {
  height: 3.5rem;
  width: 18rem;
  border-radius: 1.75rem;
  -webkit-border-radius: 1.75rem;
  -moz-border-radius: 1.75rem;
  -ms-border-radius: 1.75rem;
  -o-border-radius: 1.75rem;
  margin-bottom: 3.5rem;
  box-shadow: inset 0 1rem 1rem rgba(0, 0, 0, 0.3);
  border: 1px solid #003347;
}
@media screen and (max-width: 1024px) {
  .header__container .right .empty {
    display: none;
  }
}
.header__container .right .header__tag {
  color: #e5a55d;
}
.header__container .right p {
  margin-top: 0.5rem;
  width: 85%;
}
@media screen and (max-width: 1024px) {
  .header__container .right p {
    width: 100%;
  }
}
@media screen and (max-width: 640px) {
  .header__container .right p {
    margin-top: 1rem;
  }
}
.header__container .right .header__btn-md {
  display: none;
}
@media screen and (max-width: 1024px) {
  .header__container .right .header__btn-md {
    background: linear-gradient(135deg, #e5a55d, #ff7b02);
    color: #000e17;
    margin-top: 2rem;
    display: inline-block;
    padding: 0.6rem 1.6rem;
    font-weight: 600;
    border-radius: 0.3rem;
    -webkit-border-radius: 0.3rem;
    -moz-border-radius: 0.3rem;
    -ms-border-radius: 0.3rem;
    -o-border-radius: 0.3rem;
  }
}

.header__frames {
  position: absolute;
  top: 96vh;
  right: 44rem;
  transition: all 400ms ease;
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  -o-transition: all 400ms ease;
}
@media screen and (max-width: 1024px) {
  .header__frames {
    display: none;
  }
}
.header__frames .header__frame {
  width: 14rem;
  height: 16rem;
  border: 0.4rem solid #012734;
  box-shadow: 0 0 4rem rgba(0, 0, 0, 0.5);
  position: absolute;
  transform-origin: bottom left;
  transform: rotate(-10deg);
  -webkit-transform: rotate(-10deg);
  -moz-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);
  transition: all 400ms ease;
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  -o-transition: all 400ms ease;
}
.header__frames .header__frame img {
  height: 16rem;
}
.header__frames .header__frame:nth-child(2) {
  transform: rotate(20deg);
  -webkit-transform: rotate(20deg);
  -moz-transform: rotate(20deg);
  -ms-transform: rotate(20deg);
  -o-transform: rotate(20deg);
  top: -2rem;
  left: 2rem;
}
.header__frames:hover .header__frame {
  transform: rotate(0);
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  -ms-transform: rotate(0);
  -o-transform: rotate(0);
}
.header__frames:hover .header__frame:nth-child(2) {
  top: 0;
  left: 15rem;
}

#gallery {
  margin-top: 12rem;
}
@media screen and (max-width: 1024px) {
  #gallery {
    margin-top: 8rem;
  }
}
@media screen and (max-width: 640px) {
  #gallery {
    margin-top: 6rem;
  }
}
#gallery .gallery__head {
  display: flex;
  justify-content: space-between;
}
#gallery p {
  width: 45rem;
}
@media screen and (max-width: 1024px) {
  #gallery p {
    width: 100%;
    margin-top: 2rem;
  }
}
@media screen and (max-width: 640px) {
  #gallery p {
    margin-top: 1rem;
  }
}
#gallery .swiper-wrapper {
  margin-top: 5rem;
  height: 37rem;
  padding-bottom: 1rem;
}
@media screen and (max-width: 1024px) {
  #gallery .swiper-wrapper {
    margin-top: 4rem;
    height: -moz-fit-content;
    height: fit-content;
  }
}
@media screen and (max-width: 640px) {
  #gallery .swiper-wrapper {
    margin-top: 3rem;
  }
}
#gallery .swiper-slide {
  border: 0.5rem solid #003347;
  height: -moz-fit-content;
  height: fit-content;
  max-width: 30rem;
  overflow: hidden;
  transition: all 400ms ease;
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  -o-transition: all 400ms ease;
}
#gallery .swiper-slide img {
  height: 400px;
  max-height: 400px;
  min-height: 400px;
  -o-object-fit: fill;
     object-fit: fill;
  filter: saturate(0);
  -webkit-filter: saturate(0);
  transition: all 400ms ease;
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  -o-transition: all 400ms ease;
}
#gallery .swiper-slide:hover {
  box-shadow: o 3rem 3rem rgba(0, 0, 0, 0.2);
}
#gallery .swiper-slide:hover img {
  filter: saturate(1);
  -webkit-filter: saturate(1);
}
@media screen and (max-width: 640px) {
  #gallery .swiper-slide {
    border: none;
  }
}
#gallery .swiper-pagination-bullet {
  background: #ff7b02;
}

.exhibition {
  margin-top: 10rem;
}
@media screen and (max-width: 640px) {
  .exhibition {
    margin-top: 6rem;
  }
}

.exhibition__container {
  position: relative;
}
.exhibition__container .exhibition__empty {
  width: 26rem;
  position: absolute;
  right: 14rem;
  top: 0;
}
.exhibition__container .exhibition__head {
  display: grid;
  grid-template-columns: auto 10rem;
  justify-content: space-between;
  align-items: center;
}
.exhibition__container .exhibition__head > p {
  width: 45rem;
}
@media screen and (max-width: 1024px) {
  .exhibition__container .exhibition__head > p {
    width: 100%;
    margin-top: 2rem;
  }
}
@media screen and (max-width: 1024px) and (max-width: 640px) {
  .exhibition__container .exhibition__head > p {
    margin-top: 1rem;
  }
}
.exhibition__container .exhibition__btn {
  color: #e5a55d;
}
.exhibition__container .exhibition__btn:hover {
  transform: translateY(-1rem);
  -webkit-transform: translateY(-1rem);
  -moz-transform: translateY(-1rem);
  -ms-transform: translateY(-1rem);
  -o-transform: translateY(-1rem);
}
.exhibition__container .exhibition__gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 5rem;
  gap: 3rem;
}
@media screen and (max-width: 640px) {
  .exhibition__container .exhibition__gallery {
    display: block;
  }
}
.exhibition__container .exhibition__gallery article {
  border: 0.5rem solid #003347;
  transition: all 400ms ease;
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  -o-transition: all 400ms ease;
}
.exhibition__container .exhibition__gallery article:nth-child(4) {
  grid-column: 2/4;
  grid-row: 2/3;
}
.exhibition__container .exhibition__gallery article:nth-child(1) {
  grid-row: 1/3;
}
.exhibition__container .exhibition__gallery article img {
  height: 100%;
  filter: saturate(0);
  -webkit-filter: saturate(0);
}
.exhibition__container .exhibition__gallery article:hover img {
  filter: saturate(1);
  -webkit-filter: saturate(1);
}
@media screen and (max-width: 1024px) {
  .exhibition__container .exhibition__gallery article {
    border: none;
  }
}
@media screen and (max-width: 640px) {
  .exhibition__container .exhibition__gallery article {
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
    margin-bottom: 1rem;
  }
}
.exhibition__container .exhibition__gallery article:hover {
  box-shadow: 0 4rem 4rem rgba(0, 0, 0, 0.3);
}
@media screen and (max-width: 1024px) {
  .exhibition__container .exhibition__gallery {
    margin-top: 3rem;
    gap: 1rem;
  }
}

#about {
  margin-top: 18rem;
}

.about__container {
  display: grid;
  grid-template-columns: 10rem 26rem auto;
  gap: 3rem;
  position: relative;
}
@media screen and (ma-width: 1024px) {
  .about__container {
    grid-template-columns: 40% 54%;
    gap: 6%;
  }
}
@media screen and (max-width: 640px) {
  .about__container {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}
.about__container .about__title {
  position: absolute;
  top: -7rem;
  z-index: 1;
}
.about__container .about__btn {
  color: #e5a55d;
  align-self: end;
}
.about__container .about__btn:hover {
  transform: translateY(-1rem);
  -webkit-transform: translateY(-1rem);
  -moz-transform: translateY(-1rem);
  -ms-transform: translateY(-1rem);
  -o-transform: translateY(-1rem);
  color: #ff7b02;
}
.about__container .about__img {
  position: relative;
}
.about__container .about__img:hover .about__img-sm {
  opacity: 0;
}
.about__container .about__img:hover .about__img-lg {
  filter: saturate(1) brightness(1);
  -webkit-filter: saturate(1) brightness(1);
  box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.2);
  border: 1rem solid #003347;
  left: 0;
  bottom: 0;
}
@media screen and (max-width: 1024px) {
  .about__container .about__img:hover .about__img-lg {
    border: none;
  }
}
.about__container .about__img-bg {
  width: 20rem;
  height: 24rem;
  position: absolute;
  bottom: 0;
  background: #003347;
}
@media screen and (max-width: 1024px) {
  .about__container .about__img-bg {
    display: none;
  }
}
.about__container .about__img-lg {
  filter: saturate(0) brightness(0.3);
  -webkit-filter: saturate(0) brightness(0.3);
  transition: 500ms ease;
  -webkit-transition: 500ms ease;
  -moz-transition: 500ms ease;
  -ms-transition: 500ms ease;
  -o-transition: 500ms ease;
}
@media screen and (max-width: 1024px) {
  .about__container .about__img-lg {
    left: 0;
    top: 0;
    filter: saturate(1) brightness(1);
    -webkit-filter: saturate(1) brightness(1);
  }
}
.about__container .about__img-lg {
  position: relative;
  left: 0.5rem;
  bottom: 1rem;
}
.about__container .about__img-lg img {
  height: 34rem;
  -o-object-fit: contain;
     object-fit: contain;
}
@media screen and (max-width: 1024px) {
  .about__container .about__img-lg {
    left: 0;
    top: 0;
  }
  .about__container .about__img-lg img {
    height: 28rem;
    -o-object-fit: contain;
       object-fit: contain;
  }
}
.about__container .about__img-sm {
  position: absolute;
  top: 3rem;
  left: 6rem;
  height: 22rem;
  width: 22rem;
  overflow: hidden;
  box-shadow: 2rem 2rem 2rem rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 1024px) {
  .about__container .about__img-sm {
    display: none;
  }
}
.about__container .about__right {
  margin-left: 5rem;
}
@media screen and (max-width: 1024px) {
  .about__container .about__right {
    margin: 0;
  }
}
.about__container .about__right p {
  margin: 0 4rem 1.5rem 0;
}
@media screen and (max-width: 1024px) {
  .about__container .about__right p {
    margin-bottom: 1rem;
  }
}
@media screen and (max-width: 640px) {
  .about__container .about__right p {
    width: 100%;
  }
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: 0;
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  background: #012734;
  color: #85a2b2;
  line-height: 1.7;
}

h1, h2 {
  line-height: 1.1;
  font-weight: 400;
}
h1 span, h2 span {
  color: #ff7b02;
}

h1 {
  font-size: 4rem;
  color: hsl(0deg, 0%, 90%);
}
@media screen and (max-width: 1024px) {
  h1 {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 640px) {
  h1 {
    font-size: 2rem;
  }
}

h2 {
  font-size: 3.5rem;
}
@media screen and (max-width: 1024px) {
  h2 {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 640px) {
  h2 {
    font-size: 2rem;
  }
}

a {
  color: #85a2b2;
  transition: all 400ms ease;
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  -o-transition: all 400ms ease;
}
a:hover {
  color: #ff7b02;
}

.container {
  width: 88%;
  margin: 0 auto;
  max-width: 2160px;
}
@media screen and (max-width: 1024px) {
  .container {
    width: 92%;
    position: relative;
  }
}

.window-scrolled {
  background: #001e2d;
  border-bottom: 0.2rem solid #012734;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.3);
}

img {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

nav {
  height: 80px;
  width: 100vw;
  display: grid;
  place-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
}
nav .nav__container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 1024px) {
  nav .nav__container .nav__toggle-close {
    display: none;
  }
}
nav .nav__toggle-btn {
  display: none;
}
@media screen and (max-width: 1024px) {
  nav .nav__toggle-btn {
    display: inline-block;
    font-size: 2rem;
    background: transparent;
    cursor: pointer;
    color: hsl(0deg, 0%, 90%);
  }
}
nav .logo__nav {
  width: 7.5rem;
}
nav .nav__links {
  display: flex;
  gap: 4rem;
}
@media screen and (max-width: 1024px) {
  nav .nav__links {
    position: absolute;
    top: 100%;
    right: 0;
    flex-direction: column;
    gap: 0;
    display: none;
  }
  nav .nav__links li {
    height: 5rem;
    box-shadow: -3rem 3rem 3rem rgba(0, 0, 0, 0.7);
  }
  nav .nav__links li a {
    background: #003347;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 1rem 5rem 1rem;
    border-top: 1p solid #001e2d;
  }
}
nav .nav__socials {
  display: flex;
  gap: 1rem;
}
nav .nav__socials a {
  display: grid;
  place-items: center;
  width: 2rem;
  aspect-ratio: 1/1;
  background: linear-gradient(#ff7b02, #ff7b02);
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  color: #003347;
}
nav .nav__socials a:hover {
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.4);
}
@media screen and (max-width: 1024px) {
  nav .nav__socials {
    display: none;
  }
}

.contact__btn {
  color: #012734;
  top: 90vh;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: grid;
  place-items: center;
  cursor: pointer;
  transition: all 400ms ease;
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  -o-transition: all 400ms ease;
}
.contact__btn i {
  font-size: 3.5rem;
  position: absolute;
}
.contact__btn p {
  font-size: 1rem;
  font-weight: 600;
  width: 10rem;
  height: 10rem;
  display: flex;
  justify-content: center;
  animation: spinText 30s linear infinite;
  -webkit-animation: spinText 30s linear infinity;
}
.contact__btn p span {
  position: absolute;
  transform-origin: 0.3rem 5rem;
}
@keyframes spinText {
  to {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}
@media screen and (max-width: 1024px) {
  .contact__btn {
    display: none;
  }
}

.header__btn {
  background: linear-gradient(-30deg, #ff7b02, #ff7b02, #e5a55d);
  position: absolute;
  right: 6%;
  bottom: -3rem;
}
.header__btn:hover {
  box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.3);
  transform: translateY(-1rem);
  -webkit-transform: translateY(-1rem);
  -moz-transform: translateY(-1rem);
  -ms-transform: translateY(-1rem);
  -o-transform: translateY(-1rem);
  color: #000e17;
}

.empty {
  height: 3.5rem;
  width: 18rem;
  border-radius: 1.75rem;
  -webkit-border-radius: 1.75rem;
  -moz-border-radius: 1.75rem;
  -ms-border-radius: 1.75rem;
  -o-border-radius: 1.75rem;
  margin-bottom: 3.5rem;
  box-shadow: inset 0 1rem 1rem rgba(0, 0, 0, 0.3);
  border: 1px solid #003347;
}
@media screen and (max-width: 1024px) {
  .empty {
    display: none;
  }
}

footer {
  margin-top: 7rem;
}

.footer__container {
  border-top: 0.5rem solid #003347;
  padding-top: 5rem;
}
.footer__container .footer__head {
  display: flex;
  align-items: center;
  gap: 2rem;
}
@media screen and (max-width: 640px) {
  .footer__container .footer__head {
    flex-direction: column;
  }
  .footer__container .footer__head h2 {
    font-size: 1.5rem;
  }
}
.footer__container .footer__btn {
  width: 5rem;
  height: 5rem;
  border: 0.2rem solid #e5a55d;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  font-size: 3rem;
  color: #e5a55d;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 400ms ease;
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  -o-transition: all 400ms ease;
}
.footer__container .footer__btn:hover {
  transform: translateY(-1rem);
  -webkit-transform: translateY(-1rem);
  -moz-transform: translateY(-1rem);
  -ms-transform: translateY(-1rem);
  -o-transform: translateY(-1rem);
}
.footer__container .footer__links {
  margin: 3rem 0 5rem;
  display: flex;
  align-items: center;
  gap: 3rem;
}
@media screen and (max-width: 640px) {
  .footer__container .footer__links {
    flex-direction: column;
    gap: 2rem;
    margin-top: 5rem;
  }
}/*# sourceMappingURL=main.css.map */